### This is an Analysis of variation  in
#### populations of underweight, normal/healthy weight, overweight and obese people* 
#### in the framingham data set 

##### Null Hypothesis in an Annova test of variance between groups is the two groups are similar.
##### Alternate Hypothesis is that one or more groups are different.

##### The P value tests the null hypothesis that data from all groups are drawn from populations with identical means. Therefore,  the P value answers this question:

###### If all the populations really have the same mean , what is the chance that random sampling would result in means as far apart (or more so) as observed in this experiment?

###### If the overall P value is large, the data do not give you any reason to conclude that the means differ. Even if the population means were equal, you would not be surprised to find sample means this far apart just by chance. This is not the same as saying that the true means are the same. You just don't have compelling evidence that they differ.

###### If the overall P value is small, then it is unlikely that the differences you observed are due to random sampling. You can reject the idea that all the populations have identical means. This doesn't mean that every mean differs from every other mean, only that at least one differs from the rest. Look at the results of post tests to identify where the differences are. 

#### Here we will prove that the populations are different and alternate hypothesis is true.

In [21]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 200)
expl_df  = pd.read_csv('D:\\IIMK\\QT\\Extra Reads\\CHI and ANNOVA\\4123_6408_bundle_archive\\framingham.csv')
expl_df.shape
expl_df.dropna(subset = ["male"], inplace=True)
expl_df.dropna(subset = ["age"], inplace=True)
expl_df.dropna(subset = ["education"], inplace=True)
expl_df.dropna(subset = ["currentSmoker"], inplace=True)
expl_df.dropna(subset = ["cigsPerDay"], inplace=True)
expl_df.dropna(subset = ["BPMeds"], inplace=True)
expl_df.dropna(subset = ["prevalentStroke"], inplace=True)
expl_df.dropna(subset = ["prevalentHyp"], inplace=True)
expl_df.dropna(subset = ["diabetes"], inplace=True)
expl_df.dropna(subset = ["totChol"], inplace=True)
expl_df.dropna(subset = ["sysBP"], inplace=True)
expl_df.dropna(subset = ["diaBP"], inplace=True)
expl_df.dropna(subset = ["BMI"], inplace=True)
expl_df.dropna(subset = ["heartRate"], inplace=True)
expl_df.dropna(subset = ["male"], inplace=True)
N = len(expl_df.index)

In [22]:
expl_df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [23]:
#underweight people BMI<= 18.5
expl_df_underweight = expl_df[expl_df.BMI <= 18.5]
expl_df_underweight

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
56,0,54,1.0,1,9.0,0.0,0,0,1,266.0,114.0,76.0,17.61,88.0,55.0,0
90,1,53,1.0,1,20.0,0.0,0,0,0,188.0,138.0,89.0,18.23,60.0,75.0,0
117,0,37,2.0,1,5.0,0.0,0,0,0,185.0,100.0,68.0,18.38,70.0,72.0,0
186,0,45,4.0,1,15.0,0.0,0,0,0,224.0,117.0,74.5,16.75,68.0,87.0,0
243,0,40,2.0,1,20.0,0.0,0,0,0,197.0,124.0,76.0,18.06,90.0,69.0,0
320,1,44,1.0,1,20.0,0.0,0,0,0,197.0,118.0,81.0,17.44,70.0,75.0,0
342,0,41,4.0,1,15.0,0.0,0,0,0,207.0,111.0,60.0,18.48,60.0,76.0,0
377,1,67,1.0,0,0.0,0.0,0,0,0,203.0,122.0,74.0,15.54,96.0,79.0,0
538,1,64,2.0,0,0.0,0.0,0,0,0,193.0,114.0,79.0,16.59,75.0,64.0,0
555,0,40,2.0,0,0.0,0.0,0,0,0,242.0,110.0,75.0,16.69,58.0,68.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,0,35,2.0,1,20.0,0.0,0,0,0,168.0,83.5,55.0,16.71,79.0,63.0,1
3515,1,48,1.0,1,30.0,0.0,0,0,0,205.0,108.0,75.0,17.50,63.0,70.0,0
3538,0,48,2.0,1,20.0,0.0,0,0,0,246.0,113.0,87.0,18.01,60.0,63.0,0
3550,0,37,1.0,0,0.0,0.0,0,0,0,209.0,110.0,77.5,17.93,77.0,80.0,0
3601,0,57,2.0,1,10.0,0.0,0,1,0,238.0,133.0,72.0,18.09,100.0,115.0,0
3647,0,56,1.0,1,10.0,0.0,0,0,0,225.0,120.0,70.0,18.46,57.0,NaN,0
3858,0,43,2.0,1,20.0,0.0,0,0,0,163.0,104.5,65.0,17.84,75.0,71.0,1
3875,0,56,1.0,1,40.0,0.0,0,1,0,214.0,147.0,65.0,17.68,110.0,87.0,1
3964,0,39,3.0,0,0.0,0.0,0,0,0,213.0,125.0,87.0,16.73,110.0,75.0,0
4046,1,46,2.0,1,20.0,0.0,0,0,0,214.0,110.0,73.0,18.10,60.0,60.0,0

In [24]:
#normal people BMI<=24.9 && compPrices$BMI>18.5
expl_df_normal_crit1 = expl_df[expl_df.BMI > 18.5]
expl_df_normal = expl_df_normal_crit1[expl_df_normal_crit1.BMI <= 24.9]
expl_df_normal

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0
10,0,50,1.0,0,0.0,0.0,0,0,0,254.0,133.0,76.0,22.91,75.0,76.0,0
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,NaN,0
15,0,38,2.0,1,20.0,0.0,0,1,0,221.0,140.0,90.0,21.35,95.0,70.0,1
16,1,48,3.0,1,10.0,0.0,0,1,0,232.0,138.0,90.0,22.37,64.0,72.0,0
17,0,46,2.0,1,20.0,0.0,0,0,0,291.0,112.0,78.0,23.38,80.0,89.0,1
18,0,38,2.0,1,5.0,0.0,0,0,0,195.0,122.0,84.5,23.24,75.0,78.0,0
20,0,42,2.0,1,30.0,0.0,0,0,0,190.0,108.0,70.5,21.59,72.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4220,1,60,1.0,0,0.0,0.0,0,0,0,252.0,128.0,82.0,21.18,75.0,70.0,1
4221,1,50,1.0,0,0.0,0.0,0,0,0,260.0,119.0,74.0,21.85,80.0,72.0,1
4223,1,56,4.0,0,0.0,1.0,0,1,0,287.0,149.0,98.0,21.68,90.0,75.0,1
4225,1,45,4.0,1,43.0,0.0,0,0,0,216.0,137.5,85.0,24.24,83.0,105.0,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [25]:
#25.0 – 29.9	Overweight
expl_df_overweight_crit1 = expl_df[expl_df.BMI > 25.0]
#expl_df_overweight = expl_df_overweight_crit1[expl_df_normal_crit1.BMI <= 29.9]
#expl_df_overweight
expl_df_overweight = expl_df_overweight_crit1[expl_df_overweight_crit1.BMI <= 29.9]
expl_df_overweight

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
11,0,43,2.0,0,0.0,0.0,0,0,0,247.0,131.0,88.0,27.64,72.0,61.0,0
12,1,46,1.0,1,15.0,0.0,0,1,0,294.0,142.0,94.0,26.31,98.0,64.0,0
19,1,41,2.0,0,0.0,0.0,0,0,0,195.0,139.0,88.0,26.88,85.0,65.0,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,NaN,0
23,0,52,3.0,1,20.0,0.0,0,0,0,215.0,132.0,82.0,25.11,71.0,75.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4213,1,48,2.0,0,0.0,0.0,0,0,0,193.0,141.0,95.0,27.89,75.0,84.0,1
4217,0,63,1.0,0,0.0,0.0,0,1,0,266.0,167.0,94.0,25.23,95.0,94.0,0
4218,0,52,1.0,0,0.0,0.0,0,0,0,265.0,137.5,84.5,26.91,72.0,86.0,0
4222,1,53,3.0,0,0.0,0.0,0,1,0,289.0,188.0,110.0,26.70,70.0,63.0,0
4224,1,47,2.0,1,3.0,0.0,0,0,0,198.0,120.0,80.0,25.23,75.0,76.0,0
4226,1,58,1.0,0,0.0,0.0,0,0,0,233.0,125.5,84.0,26.05,67.0,76.0,1
4227,1,43,4.0,1,20.0,0.0,0,0,0,187.0,129.5,88.0,25.62,80.0,75.0,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0

In [26]:
#30.0 and Above	Obese
expl_df_obese = expl_df[expl_df.BMI >= 30.0]
expl_df_obese

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
13,0,41,3.0,0,0.0,1.0,0,1,0,332.0,124.0,88.0,31.31,65.0,84.0,0
22,0,52,1.0,0,0.0,0.0,0,0,0,234.0,148.0,78.0,34.17,70.0,113.0,0
28,0,61,3.0,0,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1
29,0,60,1.0,0,0.0,0.0,0,0,0,247.0,130.0,88.0,30.36,72.0,74.0,0
35,1,37,2.0,0,0.0,0.0,0,1,0,225.0,124.5,92.5,38.53,95.0,83.0,0
37,1,52,1.0,0,0.0,0.0,0,1,1,178.0,160.0,98.0,40.11,75.0,225.0,0
46,0,65,1.0,0,0.0,0.0,0,1,0,252.0,179.5,114.0,30.47,90.0,87.0,0
73,0,41,1.0,1,20.0,0.0,0,1,0,189.0,150.0,106.0,33.80,85.0,75.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4137,0,42,2.0,0,0.0,0.0,0,0,0,238.0,118.0,80.0,33.19,75.0,76.0,0
4152,0,57,1.0,0,0.0,0.0,0,1,0,212.0,147.0,85.0,35.19,65.0,85.0,0
4168,0,62,1.0,0,0.0,1.0,0,1,0,325.0,180.0,108.0,35.16,75.0,81.0,0
4173,0,54,2.0,0,0.0,0.0,0,1,0,302.0,210.0,127.5,31.98,68.0,79.0,0
4184,1,44,1.0,1,20.0,0.0,0,0,0,232.0,137.5,87.5,30.03,88.0,70.0,0
4190,0,41,1.0,0,0.0,0.0,0,1,0,229.0,150.0,89.0,36.07,75.0,92.0,0
4203,1,63,1.0,1,10.0,0.0,0,0,1,240.0,146.0,84.0,30.48,75.0,120.0,0
4205,0,46,1.0,0,0.0,0.0,0,0,0,213.0,136.0,77.0,31.02,75.0,73.0,0
4215,0,63,1.0,0,0.0,0.0,0,1,1,236.0,155.0,82.0,39.17,78.0,79.0,0
4228,0,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0

In [27]:
#We have these populations of people :- 1. Underweight  expl_df_underweight  2. Normal  expl_df_normal  3. Overweight people like me and  Mammootty expl_df_overweight 4. obese people like Mohan Lal : expl_df_obese
#We will compare 
#Annova Null Hypothesis : the groups are the same
#Annova Alternate Hypothesis : at least 1 group is different from the others
#Standard Annova assumptions : groups are normally distributed
import scipy.stats as stats
fvalue, pvalue = stats.f_oneway(expl_df_underweight, expl_df_normal, expl_df_overweight, expl_df_obese)
fvalue
#fvalues
#array([4.32445789e+01, 2.39108319e+01, 2.38051273e+01, 3.26889506e+01,
#       8.15775902e+00, 1.09901865e+01, 1.14848101e+00, 1.02651160e+02,
#       7.09145129e+00, 2.15378029e+01, 1.12774387e+02, 1.60797898e+02,
#       4.65607459e+03, 8.58054383e+00, 5.78182927e+00, 7.63876507e+00])

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan])

In [28]:
pvalue
#pvalues
#array([1.89350299e-27, 2.55722016e-15, 2.98107031e-15, 7.68234281e-21,
#       2.06678825e-05, 3.50560020e-07, 3.28061475e-01, 9.08672282e-64,
#       9.49953177e-05, 8.00514395e-14, 8.39676140e-70, 7.91904780e-98,
#       0.00000000e+00, 1.12691370e-05, 6.11264545e-04, 4.34590005e-05])

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan])

In [29]:
# get ANOVA table as R like output
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.api as sm
from patsy import dmatrices
vars = ['BMI', 'BPMeds', 'prevalentStroke']#, 'Wealth', 'Region']
expl_df[vars]
#Relation between BMI and other variables - BPMeds + prevalentStroke + currentSmoker + glucose + age
y, X = dmatrices('BMI ~ BPMeds + prevalentStroke + currentSmoker + glucose + age', data=expl_df, return_type='dataframe')
mod = sm.OLS(y, X)    # Describe model
res = mod.fit()       # Fit model
print(res.summary())   # Summarize model

                            OLS Regression Results
==============================================================================
Dep. Variable:                    BMI   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     36.80
Date:                Wed, 24 Jun 2020   Prob (F-statistic):           6.54e-37
Time:                        21:28:14   Log-Likelihood:                -10231.
No. Observations:                3658   AIC:                         2.047e+04
Df Residuals:                    3652   BIC:                         2.051e+04
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          23.2647      0.455     51.164      0.000      22.373      24.156
BPMeds              1.9281      0.389      4.960      0.000       1.166       2.690
prevalentStroke     0.8955      0.875      1.023      0.306      -0.820       2.611
currentSmoker      -1.0785      0.134     -8.022      0.000      -1.342      -0.815
glucose             0.0104      0.003      3.761      0.000       0.005       0.016
age                 0.0430      0.008      5.403      0.000       0.027       0.059
==============================================================================
Omnibus:                      642.524   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1666.041
Skew:                           0.955   Prob(JB):                         0.00
Kurtosis:                       5.699   Cond. No.                     1.31e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [30]:
model_bpmeds_to_bmi = ols('BPMeds ~ BMI', data=expl_df).fit()
anova_table_bpmeds_to_bmi = sm.stats.anova_lm(model_bpmeds_to_bmi, typ=2)
anova_table_bpmeds_to_bmi

              sum_sq      df         F        PR(>F)
BMI         1.205265     1.0  42.76666  6.947877e-11
Residual  112.363048  3987.0       NaN           NaN

In [31]:
model = ols('BMI ~ BPMeds + prevalentStroke + currentSmoker + glucose + age', data=expl_df).fit()
anova = sm.stats.anova_lm(model, typ=2)
anova

                       sum_sq      df          F        PR(>F)
BPMeds             387.592522     1.0  24.596889  7.388401e-07
prevalentStroke     16.497110     1.0   1.046918  3.062857e-01
currentSmoker     1013.952774     1.0  64.346144  1.393220e-15
glucose            222.936806     1.0  14.147724  1.716511e-04
age                460.043460     1.0  29.194676  6.964331e-08
Residual         57547.434926  3652.0        NaN           NaN

In [32]:
model_all = ols('BMI ~ male + age + education + currentSmoker + cigsPerDay + BPMeds + prevalentStroke + prevalentHyp + diabetes + totChol + sysBP + diaBP + heartRate + glucose + TenYearCHD', data=expl_df).fit()
anova_all = sm.stats.anova_lm(model_all, typ=2)
anova_all

                       sum_sq      df           F        PR(>F)
male               369.307863     1.0   27.586296  1.588446e-07
age                  6.296637     1.0    0.470342  4.928737e-01
education          716.324030     1.0   53.507462  3.152340e-13
currentSmoker      512.624402     1.0   38.291652  6.767572e-10
cigsPerDay          12.571642     1.0    0.939068  3.325821e-01
BPMeds              13.399624     1.0    1.000916  3.171555e-01
prevalentStroke      1.161582     1.0    0.086767  7.683449e-01
prevalentHyp       231.862117     1.0   17.319471  3.232356e-05
diabetes            69.021002     1.0    5.155682  2.322859e-02
totChol            150.486646     1.0   11.240944  8.082933e-04
sysBP                3.693538     1.0    0.275897  5.994349e-01
diaBP             1892.407359     1.0  141.357696  5.215342e-32
heartRate            4.840754     1.0    0.361591  5.476613e-01
glucose             13.331510     1.0    0.995828  3.183885e-01
TenYearCHD           0.034958     1.0    0.002611  9.592483e-01
Residual         48756.790615  3642.0         NaN           NaN

### So as per the last comparison above on relationships with BMI ###


F>1.04 :-
H0 rejected for male, education, currentSmoker, prevalentHyp, diabetes,  totChol, diaBP : 
BMI has statistically significant relationship with those variables. 


F<1.04 :-
H0 accepted for TenYearCHD, glucose, heartRate, sysBP, prevalentStroke, cigsPerDay, age :
No statistically significant difference between BMI and those variables.

In [33]:
#Note:
#N is sample size
#degree of freedom is 1
#N-1 is df2 (denominator)
#1-1 is df1 (numerator)
# F>1.04 :-
# H0 rejected for male, education, currentSmoker, prevalentHyp, diabetes,  totChol, diaBP : 
#BMI has relationship with those variables. 
#####
#TF<1.04 for TenYearCHD, glucose, heartRate, sysBP, prevalentStroke, cigsPerDay, age :
#BMI has no significant relationship with those variables.

In [36]:
model_bmi_1 = ols('BMI ~ prevalentHyp + diabetes +  totChol + diaBP', data=expl_df).fit()
anova_bmi_1 = sm.stats.anova_lm(model_bmi_1, typ=2)
anova_bmi_1

                    sum_sq      df           F        PR(>F)
prevalentHyp    421.406282     1.0   30.127337  4.297728e-08
diabetes        214.579789     1.0   15.340819  9.125942e-05
totChol         165.614054     1.0   11.840142  5.856326e-04
diaBP          3907.682533     1.0  279.369511  1.148626e-60
Residual      55726.221338  3984.0         NaN           NaN